@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff url(images/background.png);font:16px "Trebuchet MS",Calibri,sans-serif;min-width:998px}
section,nav,footer,header{min-width:998px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}

main{margin:0 auto;width:998px;position:relative;clear:both;padding:40px 0}

header{}

#imagine{}

#about{}

#why{}

#low_price{background: #f9f9e2 url(images/fon4.jpg) top center no-repeat;}
#low_price main{text-align: center;}
#low_price h2{color: #fff; background: #f00; text-transform: uppercase; font-family:'Trebuchet MS'; font-size: 60px; display: inline-block; vertical-align: center; padding: 1px 34px; margin-bottom: 80px;}
#low_price article{display:inline-block; width: 460px; padding: 200px 0 5px 0; margin: 10px 15px;}
#low_price article p{font-family:'Trebuchet MS'; font-size:30px; color:#f22935; margin-bottom: 5px;}
#low_price article img{cursor: pointer;}
#low_price .meh{background: url('images/1.jpg') top center no-repeat;}
#low_price .kub{background: url('images/2.jpg') top center no-repeat;}
#low_price .dom{background: url('images/3.jpg') top center no-repeat;}
#low_price .mal{background: url('images/4.jpg') top center no-repeat;}
#low_price .tai{background: url('images/5.jpg') top center no-repeat;}
#low_price .oth{background: url('images/6.jpg') top center no-repeat;}


#discript{}

#how_work{}

#responses{}

footer{}

