@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff url(images/background.png);font:16px/24px "Trebuchet MS",Calibri,sans-serif;min-width:998px}
section,nav,footer,header{min-width:998px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}

main{margin:0 auto;width:998px;position:relative;clear:both;padding:40px 0}

header{}

#imagine{background:url(images/fon2.jpg) center top no-repeat ;}

#imagine h2{color:#ffffff;font:50px Trebuchet MS;font-weight:bold;text-align:center;margin-top:-30px;text-transform:uppercase;}
#imagine img.soti{float:left;margin: 7px 7px 7px 0;}
#imagine p{width:760px;margin-left:310px;margin-top:100px;color:#ffffff;font:22px Trebuchet MS;}
.one{margin-bottom:135px;}
.two{margin-bottom:140px;}
#imagine img.poloski{margin-top:105px;margin-left:121px;}
#imagine h3{color:#ffffff;font:22px Trebuchet MS;font-weight:bold;text-align:center;text-transform:uppercase;margin-top:10px;margin-bottom:10px;}

#about{background:url(images/fon3.jpg) center top no-repeat;margin-top:-40px;}
#about h2{color:#fff600;text-transform:uppercase;font:65px Trebuchet MS;font-weight:bold;margin-top:-20px;text-align:center;}
#about ol{list-style:none;}
#about li{position:relative;display:inline-block;width:220px;height:220px;margin: 60px 20px 30px 0}
.img1{background:url(images/11.png);}
.img2{background:url(images/12.png);}
.img3{background:url(images/13.png);}
.img4{background:url(images/14.png);}

#why{}

#low_price{}

#discript{}

#how_work{}

#responses{}

footer{}

